########################################################################
########################################################################
##                                                                    ##
##      This configuration is for text-editor to format the code      ##
##      without needs any configuration set on text-editor side       ##
##                                                                    ##
########################################################################
########################################################################

[*]
charset = utf-8

end_of_line = lf
indent_size = 2
indent_style = space

trim_trailing_whitespace = true

require_final_newline = true
insert_final_newline = true
insert_newline_at_end_of_file = true
